body {
	font-family: 'Esteban', serif;
}	

header {
  font-variant: small-caps;
}
header {text-align: center;
}
body {
  font-variant: normal;
}
body { font-weight: bold; 
}

header {
	background-color: #000000;
	color: #DDFFFF;
}	

section {
	background-color: #000000;
	color: #DDFFFF;
}	

#ex_float {
	float: right;
}

body {			
	max-width: 960px;
	margin: 10px auto;
}

html { 
	background: url("insert image pathname") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}  

section, header {
	border-radius: 15px;
	border: 1px  #4a4; 
	margin: .5em; 
	padding: .5em; 
}
a:hover {
	border-bottom: 3px #4a4;
	background-color: blue; 	
}
#horizontal_nav	
{ 
	border: solid 0.1em #e1e1e1; 
	border-radius: 1em; 
	margin: 1; 
	padding: 0 0em 0em 0em; 
	width: 98.2%;
	color: inherit; 
	background-color: inherit; 
}	
#horizontal_nav ul 
{ 
	margin: 0; 
	padding: 0; 
	color: inherit; 
	background-color: inherit; 
}
#horizontal_nav li	 
{ 
	margin: 1em 0 0 0; 
	display: inline;
	padding: 0; 
	list-style: none; 
	color: inherit; 
	background-color: inherit; 
}	

#horizontal_nav a 
{ 
	margin: 0; 
	padding: 0 1em; 
	display: inline; 
	text-decoration: none; 
	border-bottom: 1px solid #A8BFCF; 
	color: inherit; 
	background-color: inherit; 
}
#horizontal_nav a:hover 
{ 
	border-bottom: solid 1px #ffa20f; 
	color: inherit; 
	background-color: blue; 
}
