html#index{ 
	background: url("url.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
}  

html#gigs{ 
	background: url("bg1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}


html#contactus{ 
	background: url("logo2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}

html#blog{ 
	background: url("blogbg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}

html#videos{ 
	background: url("blogbg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}

html#theband{ 
	background: url("url.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}

html#portfolio_index{ 
	background: url("blogbg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000000;
	
}

body {
	max-width: 960px ;
	margin: 0px auto; 
	font-family: 'Hammersmith One', sans-serif;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
	color:white;
}

header {
	text-align: right;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	background-color: black;
}

section{
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	background-color: transparent;
	color:#000000;
	
}
header {
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 0 0em 0em 1em; 
	padding: 1.45em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7); 
	
}

#portfolio {
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 0 0em 0em 1em; 
	padding: 1.45em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	 
}


#portfolio2 {
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 0 0em 0em 1em; 
	padding: 1.45em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	
	 
}

#SS{
	margin: 2em 0em 0em 0em;
}

#CK{
	margin: 1.2em 0em 0em 0em;
}

#RD{
	margin: 2em 0em 0em 0em;
}

#AA{
	margin: 1.2em 0em 0em 0em;
}

p{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 2em 3em 0em; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
}

#intro{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 2em 0em 1em ; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
	
}

#intro h1{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 18px;
	text-align: left;
	padding: 0 0em 1em 0em; 
	color: white;
	text-decoration: underline;
}

#intro2 h1{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 18px;
	text-align: left;
	padding: 0 0em 1em 0em; 
	color: white;
	text-decoration: underline;
}

#intro2{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 2em 0 0em 1em ; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
	
}

#intro3 h1{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 18px;
	text-align: left;
	padding: 0 0em 1em 0em; 
	color: white;
	text-decoration: underline;
}

#intro3{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 2em 0 0em 1em ; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
	
}

#intro4 h1{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 18px;
	text-align: left;
	padding: 0 0em 1em 0em; 
	color: white;
	text-decoration: underline;
}

#intro4{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 2em 0 0em 1em ; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
	
}

#part_two h1{
	text-align: left;
	font-size: 18px;
	font-family: 'Hammersmith One', sans-serif;
	text-decoration: underline;
	color: white;
	padding: 0 0em 2em 0em; 
}

#part_two {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	color:#FFFFFF;
	margin: 2em 1em 0em;
	text-align: left;
	padding: 0 1em 2em 1em;
}

#logo{
	max-width: 50%;
	margin: 0.5em;
	text-align: center;
}

#thebandimage{
	margin: 1.2em;
}

#gigsimage1 {
	margin: 4em 0em 1em ;
	
}
#gigsimage2 {
	margin: 0em 0em 1em ;
	
}
#gigsimage3 {
	margin: 0em 0em 1em ;
	
}
#gigsimage4 {
	margin: 0em 0em 1em ;
	
}

#gigsimage5 {
	margin: 4em 0em 1em ;
	
}
#gigsimage6 {
	margin: 0em 0em 1em ;
	
}
#gigsimage7 {
	margin: 0em 0em 1em ;
	
}
#gigsimage8 {
	margin: 0em 0em 1em ;
	
}

#email1{
	margin: 0em 0em 3em;
}

#text{
	margin: 0em 0em 3em;
}

#text2{
	margin: 0em 0em 3em;
}


#theband{
	color:#FFFFFF;
}

#logoimage1{
	max-width: 125%
}

#vid2{
	margin: 2em 0em 0em;
}

#video2_desc{
	margin: 2em 0em 0em 7em; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: right;
}

#video_desc{
	max-width: 100%;
	border-radius: 0px;
	border: 0px; 
	margin: 0em 0em 0em 0em; 
	padding: 0 1em 2em 1em;
	background-color:#000000;
	background: rgba(0, 0, 0, .7); 
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	color:white;
	text-align: left;
}

#gigsimg{
	max-width: 80%;
	
}

#fb-like-box{
	color:#000000;
	background:#212121;
	margin: 2em 1em 0em;
}

.twitter-timeline{
	float: right;
	margin:  2em 0em 0em;
	padding: 0em;
}

.frame{
	float:left;
	margin: 0 0em 0em 0em;
	padding: 0em;
	border: 0px;
	border-radius: 0px;
	
}


#fallers{
	width: 65%;
}

#intro p{
	text-align: left;
	color: white; 
	margin: 0 0em 0em 2em;
}



a :hover {
	background-color:transparent;
	color: #C68609; 	
}
#horizontal_nav	
{ 
	border-radius: 1em; 
	margin: 1em; 
	padding: 0 2em 0em 0em; 
	width: 98.2%;
	color: white; 
	background-color: transparent; 
	text-align: right;
}	
#horizontal_nav ul 
{ 
	margin: 0; 
	padding: 0; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav li	 
{ 
	display: inline;
	padding: 0; 
	list-style: none; 
	color: white; 
	background-color: transparent; 
}	

#horizontal_nav a 
{ 
	margin: 0; 
	padding: 0.5em; 
	display: inline; 
	text-decoration: none; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav a:hover 
{ 
	color:  yellow; 
	background-color: transparent; 
}
